.signUp-container {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("https://app.365dropship.com/catalog_bg.3808158baad738767615.jpg");
  background-color: #98a3c7;
  opacity: 0.92 !important;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.signUp-main {
  width: 413px;
  height: 700px;
  box-shadow: 0 0 12px #6b6b6b;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #fff;
  border-radius: 8px;
  padding: 34px 40px;
}
.SignUp-header {
  display: flex;
  justify-content: space-between;
}
.signUp__title {
  margin-right: 40%;
  font-weight: 500;
  font-size: 18px;
  color: #171717;
}
.signUp__section {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.signUp_social {
  display: flex;
}
.signUp_social--item {
  margin-top: 10px;
  margin-left: 10px;
  outline: 0;
  border: none;
  width: 160px;
  height: 44px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border-radius: 4px;
  background-color: rgba(218, 219, 221, 0.16);
  cursor: pointer;
}
.signUp_social--item img {
  width: 30px;
  height: 30px;
}
.item-facebook {
  margin-top: 10px;
  margin-left: 10px;
  outline: 0;
  border: none;
  width: 160px;
  height: 44px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  border-radius: 4px;
  background-color: rgba(218, 219, 221, 0.16);
  cursor: pointer;
}
.item-facebook img {
  width: 30px;
  height: 30px;
}
.signUp--signIn {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
