.landing-container {
  width: 100vw;
  height: 100vh;
}
.landing-main {
  background-image: url("https://mk0q365dropshipe482k.kinstacdn.com/wp-content/uploads/2020/06/hero-1.jpg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
