main {
  display: flex;
  width: 100%;
}
.main-container{
  width: 100%;
}
.main-wrapper {
  display: flex;
}
.catalog-wrapper {
  /* width:calc(100vw - 270px); */
  width: 100%;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
}
.circular{
  position: absolute;
  top: 50%;
  left: 50%;
}
@media only screen and (max-width: 768px) {
  .main-wrapper {
    display: none;
  }
}