.ship__item {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  color: #29304b;
  text-transform: capitalize;
}

.ship {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  border-radius: 4px;
  background-color: white;
}
.button-position {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
