.sidebar_header {
  background-color: #5d6b9f;
  height: 40px;
  color: white;
  font-weight: bold;
  width: 215px;
  padding: 7px;
  border: none;
  outline: none;
}
.sidebar_header--light {
  background-color: #9da9d5;
  height: 40px;
  color: white;
  font-weight: bold;
  width: 215px;
  padding: 7px;
  border: none;
  outline: none;
}
