.slider-wrapper {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0 1px 0;
}
.slider-fix {
  width: 80%;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slider-title {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: #49547d;
  text-transform: uppercase;
  font-weight: 600;
  align-self: flex-start;
  padding-bottom: 10px;
}
.slider__values {
  width: 100%;
  height: 26px;
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-size: 11px;
  color: #d1d4d7;
}
.startingValue,
.endingValue {
  display: flex;
}
.startingValue div,
.endingValue div {
  background-color: white;
  width: 22px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3px;
}
.startingValue div:last-child,
.endingValue div:last-child {
  color: #9aa3aa;
  width: 38px;
  padding: 0 4px;
  border-left: 1px solid #d1d4d7;
}
