.profile__header {
  height: 76px;
  width: calc(100vw - 55px);
  left: 0;
  background: #f9fbfe;
  padding: 29px 30px 27px 29px;
  border-bottom: 1px solid #dcdde3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile__myProfile {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
  color: #4f607c;
  padding: 2px 0 0;
}
.profile__SignOut {
  width: 132px;
  height: 40px;
  border-radius: 4px;
  background-color: #e6eefc;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  cursor: pointer;
  outline: 0;
  border: none;
  color: #4785ef;
  text-transform: uppercase;
  margin-right: 73px;
}
.profile__Section {
  width: calc(100vw - 55px);
  height: calc(100% - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.Profile__conteiner {
  width: 90%;
  height: 97%;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 12%);
  background-color: white;
  display: flex;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
  
}
.Profile {
  display: flex;
  flex-direction: column;
}
.profile__item {
  width: 35%;
  margin: 30px;
  height: 40%;
  border-radius: 4px;
  border: 1px solid #f9fbfe;
  background-color: #f9fbfe;
  display: flex;
  flex-direction: column;
}
.profaile__hed {
  display: flex;
  flex-direction: column;
}

.det__contact-container {
  width: 400px;
  height: 230px;
  border-radius: 4px;
  border: 1px solid #f9fbfe;
  background-color: #f9fbfe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
}
.photo__det{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}
.upload{
    width: 162px;
    height: 40px;
    border-radius: 4px;
    background-color: #61d5df;
    border: none;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    cursor: pointer;
  
}

.photo__det-container,
.photo__password-container {
  width: 400px;
  height: 50%;
  border-radius: 4px;
  border: 1px solid #f9fbfe;
  background-color: #f9fbfe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
}
.photo__det-container > img {
  border-radius: 100%;
  padding: 4px;
  border: 6px solid #61d5df;
}
.profile_title{
    display: flex;
    justify-content: center;
    font-family: Gilroy-bold;
    font-size: 22px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #303856;
    text-transform: uppercase;
    top: -28px;
    font-family: -webkit-pictograph;
}
.profile_input{
  margin-left: 5px;
}
.flex-end{
width: 100%;
margin-left: 8px; 
}
.burger {
  margin-left: auto;
}
.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}


@media only screen and (max-width: 1000px) {
  .Profile__conteiner {
    flex-wrap: wrap; 
   }
  
  .Profile__Form{
    width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  
}
@media only screen and (max-width: 960px) {
  
  .profile__header {
    width:100vw;
  }
 .profile__Section {
  width:100vw;
}

.det__contact-container {
  width:100vw;
  
}
.photo__det-container,
.photo__password-container {
width: 100%;
}
  
}
@media only screen and (max-width: 605px) {
  
  .Profile__conteiner {
  overflow-y: scroll;
    
  }
  
}