.form {
  margin: auto;
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.inventory__conteiner{
  width: auto;
  padding: 20px 20px 20px 20px;
  background-color: white;
  border-radius: 10px;
}
.inventory_header {
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inventory__title {
  color: #61d5df;
  font-size: 30px;
  font-weight: bold;
}

.invnetory__submit {
  margin-top: 20px;
  height: 45px;
  width: 300px;
  background-color: #61d5df;
  color: white;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.inventory__error {
  color: red;
}
.edit {
  margin-left: auto;
}
.edit_input {
  border-radius: 3px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  outline: none;
  border: none;
  margin-top: 30px;
  padding-left: 10px;
  height: 30px;
}
