.nav {
  height: 120px;
}
.nav__sort {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: white;
  border-bottom: 1px solid #f8f9fa;
  padding-left: 20px;
}
.nav__sort select {
  margin-left: 50px;
}

.nav__products {
  display: flex;
  align-items: center;
}
#sort {
  background-color: transparent;
  border: none;
  color: #a8a4a4;
  outline: none;
}
