.nav__menu {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
}
.allProducts {
  padding-right: 10px;
}
.allProducts_Length{
  display: none;
}

.nav__search-btn {
  height: 36px;
  cursor: pointer;
  border: 1px solid rgb(204, 202, 202);
  border-left: none;
  background-color: white;
  border-radius: 0 5px 5px 0;
  padding-right: 10px;
}
.nav__search-input {
  max-width: 300px;
  width: 100%;

  height: 36px;
  border: 1px solid rgb(204, 202, 202);
  border-right: none;
  padding-left: 10px;
  border-radius: 5px 0 0 5px;
}
.nav__search-input:focus {
  outline: none;
}

.nav__search img {
  margin-left: 10px;
  width: 30px;
  height: 30px;
}
.nav__search {
  max-width: 600px;
  width: 100%;
  display: flex;
  align-items: center;
}
.nav__menu p {
  border-left: 1px solid lightgray;
  padding-left: 5px;
  font-size: 14px;
}
.createButton {
  background-color: #61d5df;
  color: white;
  cursor: pointer;
  height: 33px;
  margin-right: 10px;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  padding: 0 14px;
  font-weight: bold;
  margin: 10px;
}

.iconbox {
  display: none;
}
.iconbox--show {
  display: none;
  color: #61d5df;
  font-size: xx-large;
}
.logout {
  background-color: #61d5df;
  color: white;
  cursor: pointer;
  height: 33px;
  margin-right: 10px;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  padding: 0 14px;
  font-weight: bold;
}
.clear_all{
  background-color: #61d5df;
    color: white;
    cursor: pointer;
    height: 33px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    padding: 0 14px;
    font-weight: bold;
    margin-left: 10px;
}
@media only screen and (max-width: 500px) {
  
  .nav__menu {
    padding: 0 10px 0 10px
  }
}
@media only screen and (max-width: 960px) {
  .question {
    display: none;
  }
  .createButton {
    display: none;
  }
  .iconbox--show {
    display: flex;
    color: #61d5df;
    font-size: xx-large;
  }
  
  .exit {
    display: flex;
  }
  .allProducts {
    display: none;
  margin-right: 10px;
  }
}
@media only screen and (max-width: 1320px) {
  .allProducts{
    display: none;
  }
  .allProducts_Length{
    display: flex;
  }
}
