.catalog {
  margin-top: 1px;
  overflow-y: scroll;
  padding-left: 10px;
  height: calc(100vh - 123px);
}

.catalog__product {
  margin-top: 20px;
  height: 375px;
  margin: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #e4e5ec;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}

.catalog__product:hover {
  border: 2px solid #61d4df;
}
.catalog__product--border {
  border: 2px solid #61d4df;
}
.catalog__prices {
  border-top: 1px solid #e4e5ec;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalog__photo {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.catalog__photo img {
  max-width: calc(100% - 20px);
  height: 200px;
  margin: 0 10px 0 10px;
  object-fit: scale-down;
  max-height: 100%;
}
.catalog__photo {
  margin-bottom: 20px;
}
.product__heading {
  padding: 0px 16px 0px 16px;
  font-size: 17px;
  text-transform: uppercase;
  margin: 0;
  min-height: 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1rem;
  max-height: 2rem;
  -webkit-line-clamp: 2;
  font-size: 14px;
  color: #29304b;
}
.product__item--price {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.price__item {
  padding: 0px 10px 6px 6px;
  text-align: left;
}
.price {
  font-size: 19px;
  color: #616161;
  font-weight: 500;
  font-family: Gilroy-medium;
  white-space: nowrap;
}

.rrp {
  font-size: 16px;
  color: #707070;
}

.price__profit {
  color: #61d4df;
}

.product__supplier {
  padding: 10px 16px;
  font-size: 15px;
}

.supplier__name {
  color: #61d4df;
  text-decoration: underline;
  font-weight: 600;
}

.divider {
  border-right: 1px solid rgba(128, 128, 128, 0.4);
  height: 35px;
}

@media only screen and (max-width: 1000px) {
  .catalog {
    justify-content: center;
  }
}
