.modal__container {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 1, 99, 0.5);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}


.item__info {
  margin: 10px 0px;
}
.price__item {
  color: grey;
  text-transform: uppercase;
}
.span__item--styled {
  font-size: 20px;
  color: rgba(0,0,0,0.7);
  font-weight: bold;
}
.span__item--blue {
  color: #61D4DF;
}


.item__info--price {
  padding: 20px;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 10%);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 16px;
}




.modal__card {
  width: 1365px;
  height: 690px;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

@media only screen and (max-width: 1700px) {
  .modal__card {
    width: 1000px;
  }
}
@media only screen and (max-width: 1300px) {
  .modal__card {
    width: 900px;
  }
}
@media only screen and (max-width: 1000px) {
  .modal__card {
    width: 100%;
    height: 100%;
    margin-right: 0px;
  }
}

.modal__close {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: grey;
}

.modal__item {
  display: flex;
  width: 100%;
}


.modal-item__right,
.modal-item__left {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0px 50px;
}

.modal-item__right {
  align-items: center;
}

.modal-item__left {
  justify-content: flex-start;
}

.item__info-price {
  padding: 20px;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 10%);
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 25px;
  margin: 20px 0px;
}

.item__info-image {
  padding: 30px;
  width: 100%;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.item__image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.item_title {
  text-transform: capitalize;
  margin: 20px 10px;
}

.item_productdesc {
  margin-bottom: 0;
  margin-top: 40px;
  border-bottom: 1px solid black;
  padding: 0px 0px 20px;
  margin: 20px 10px;
}

.span__item {
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.item_description {
  font-size: 16px;
  margin: 20px 10px;
}
