.sidebar {
  max-width: 270px;
  background-color: #ecedf5;
  display: flex;
}
.sidebar__menu {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 960px) {
  .sidebar {
    display: none;
  }
}
