.sidebar__nav {
  width: 55px;
  background-color: #fff;
  height: 100%;
  border: 1px solid #dde3ee;
}
.sidebar__menu {
  background-color: #ecedf5;
}
.sidebar__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.sidebar__item {
  list-style-type: none;
  width: 20px;
  margin-top: 20px;
  border-bottom: 1px solid #fff;
}

.sidebar__item--big {
  width: 40px;
}

.sidebar__item a {
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.sidebar__item a img {
  width: 100%;
  height: 100%;
}
.sidebar__item--radius {
  border-radius: 100%;
  border: 1px solid #61d5df;
  width: 30px;
}
