.nav__btn {
  background-color: #61d5df;
  color: white;
  cursor: pointer;
  height: 33px;
  margin-right: 10px;
  font-size: 12px;
  border: none;
  border-radius: 5px;
  padding: 0 14px;
  font-weight: bold;
}
.nav__btn--big {
  height: 40px;
  max-width: 150px;
  margin-left: 10px;
  width: 100%;
}
.nav__btn--slider {
  width: 200px;
  margin: auto;
}
.nav__btn--signUp {
  background-color: #61d5df;
  font-size: 16px;
  border: none;
  color: #fff;
  padding: 15px 30px;
  margin-top: 60px;
  display: block;
  width: 180px;
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  height: 52px;
  justify-content: center;
}

@media only screen and (max-width: 1000px) {
  .nav__btn--addprod {
    width: 100px;
  }
}
@media only screen and (max-width: 780px) {
  .nav__btn--plus {
    width: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
